@import "../../styles/bootstrap_core.scss";

$action-color: $nav-link-color;
$action-hover-color: $nav-link-hover-color;
$action-active-color: shift-color($link-color, $link-active-shade-percentage);
$action-disabled-color: $nav-link-disabled-color;

$button-padding: map-get($spacers, 1);

$wrapper-gap: map-get($spacers, 1);

%button {
  border-width: 0;
  background-color: transparent;
  padding: $button-padding;
  box-shadow: none;
}

.hamburger:global(.navbar-toggler) {
  @extend %button;
}

.action {
  @extend %button;

  background-color: transparent;
  border-width: 0;

  color: $action-color;
  transition: $nav-link-transition;

  &:hover {
    color: $action-hover-color;
  }

  &:disabled {
    color: $action-disabled-color;
  }

  &:active {
    color: $action-active-color;
  }
}

.wrapper {
  gap: $wrapper-gap;
}

.action-wrapper {
  @extend .wrapper;

  @include media-breakpoint-up(md) {
    order: 10;
  }
}
