$icon-small-size: 1rem;
$icon-medium-size: 1.5rem;
$icon-large-size: 2rem;

$btn-hover-color-shade-amount: 20%;
$btn-active-color-shade-amount: 25%;

$btn-no-container-disabled-color-tint-amount: 50%;

$navbar-adjust-height: 4rem;
$content-spacing: map-get($spacers, 3);
$onplace-wait-indicator-size: 1.25rem;

$alert-padding: map-get($spacers, 2);
$alert-margin: map-get($spacers, 2);
$alert-position-top: $navbar-adjust-height + $alert-margin;
$alert-position-end: $alert-margin;
