$icon-small-size: 1rem;
$icon-medium-size: 1.5rem;
$icon-large-size: 2rem;

$link-active-shade-percentage: 30%;
$btn-hover-color-shade-amount: 20%;
$btn-active-color-shade-amount: 25%;

$btn-no-container-disabled-color-tint-amount: 50%;
