@import "../../styles/bootstrap_core.scss";

.small {
  width: $icon-small-size;
  height: $icon-small-size;
}

.medium {
  width: $icon-medium-size;
  height: $icon-medium-size;
}

.large {
  width: $icon-large-size;
  height: $icon-large-size;
}
