@import "../../../styles/bootstrap_core.scss";

$row-hover-bg: #eee;
$row-active-bg: #ddd;

.content {
  flex: 1 1 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: map-get($spacers, 2);
  padding-left: map-get($spacers, 3);

  &:hover {
    background-color: $row-hover-bg;

    .infoIcon {
      display: inline-block;
    }
  }

  &:active:not(:has(:active)) {
    background-color: $row-active-bg;
  }
}

.infoIcon {
  display: none;
  margin-left: auto;
}
