@import "../../../styles/bootstrap_core.scss";

$row-hover-bg: #eee;
$row-active-bg: #ddd;

.content {
  flex: 1 1 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: map-get($spacers, 2);
  padding-left: map-get($spacers, 3);

  &:hover {
    background-color: $row-hover-bg;

    .actionContainer {
      display: inline-block;
    }
  }

  &:active:not(:has(:active)) {
    background-color: $row-active-bg;
  }
}

.textContainer {
  flex: 1 1 0;
}

.actionContainer {
  display: none;
  margin-left: auto;
  flex: 0 0 auto;

  @media only screen and (max-width: map-get($grid-breakpoints, md)) {
    display: block;
  }
}
